<div style="border: 2px double #000000; padding-left: 25px;background-color: steelblue; font-family: 'Courier New', Courier, monospace">
    <h1 style="text-align: center">Holiday creation</h1>
    <form action="{{ path('aqualeha_new') }}" method="post" ENCTYPE="multipart/form-data">
        {{ form_widget(form) }}
        <p>

        </p>
        <ul class="record_actions">
            <li>
                <button type="submit">Create</button>
                <input type="button" OnClick="window.location.href={{ path('aqualeha_home') }}" value="Back to the list" />
            </li>
        </ul>
    </form>
</div>
</br>
<div style="border: 2px double #000000; padding-left: 25px;background-color: steelblue; font-family: 'Courier New', Courier, monospace">
    <h3>Liste of countries</h3>
    <ul class="record_actions">
        {% for key,value in countries %}
            <li>
                {{ value.name }}
            </li>
        {% endfor %}
    </ul>
</div>
