/app/config/parameters.yml
/app/deploy/production.rb
/app/deploy/recette.rb
/app/cache/*
/app/log/*
/app/Gemfile.lock
/app/vendor/*
/app/config/log/*
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/.idea/*
