# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     '@database_name@'
    database_user:     '@database_user@'
    database_password: '@database_password@'
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    locale:            '@locale@'
    secret:            '@secret@'

    shared_folder:     /media/shared_central_leha
    upload_dir:         /web/uploads
    limit_per_page_notification:     10
    path_root_exception:    '@path_root_exception@'

    router.request_context.host: '@router.request_context.host@'
    router.request_context.scheme: '@router.request_context.scheme@'
    router.request_context.base_url:'@router.request_context.base_url@'

    delivery_address: '@delivery_address@'

    jasper.jasper_starter: '@jasper.jasper_starter@'
